<nz-layout class="app-layout"
           *ngIf="authenticatedUser">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>{{ authenticatedUser.name }}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/">Dashboard</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="{{'data'|translate}}" nzIcon="database">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/data/storage">{{'storage'|translate}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/data/model">{{'model'|translate}}</a>
          </li>
        </ul>
      </li>

      <list-menu/>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header d-flex align-items-center p-2">
        <div class="w-75 h-100 d-flex justify-content-start align-items-center">
          <button nz-button nzType="text" nzShape="circle" nzSize="large"
                  (click)="isCollapsed = !isCollapsed">
            <span nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                  nzTheme="outline">
            </span>
          </button>
        </div>

        <div class="w-25 h-100 d-flex justify-content-end align-items-center">
          <button nz-button nzType="text" nzShape="circle" nzSize="large"
                  (click)="authenticationService.logout()">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
          </button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<div *ngIf="!authenticatedUser">
  <router-outlet></router-outlet>
</div>
