<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submit()">
  <nz-alert
    *ngIf="message"
    nzType="error"
    nzMessage="{{'error_box_title'|translate}}"
    nzDescription="{{message|translate}}"
    nzShowIcon
  />

  <nz-form-item class="mt-3">
    <nz-form-control [nzErrorTip]="errorTemplate">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="email" placeholder="{{'email' | translate}}" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTemplate">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="{{'password' | translate}}" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <a class="login-form-forgot">{{'forget_password'|translate}}</a>
    </div>
  </div>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">{{'log_in'|translate}}</button>
  Or
  <a routerLink="/register">{{'register'|translate}}</a>
</form>

<ng-template #errorTemplate let-control>
  <div *ngIf="control.errors?.['required']">{{'required_error_message'| translate}}</div>
  <div *ngIf="control.errors?.['email']">{{'email_validation_error_message'| translate}}</div>
</ng-template>
