<button nz-button nzType="primary" (click)="showEntry()">
  <span nz-icon nzType="plus" nzTheme="outline"></span>
  {{ 'new'|translate }}
</button>

<nz-table
  class="mt-3"
  [nzTotal]="tableOptions.total"
  [nzData]="tableOptions.data"
  [nzPageIndex]="tableOptions.pageIndex"
  [nzPageSize]="tableOptions.pageSize"
  [nzLoading]="tableOptions.loading"
  (nzQueryParams)="fetch($event)"
>
  <thead>
  <tr>
    <th nzColumnKey="createdBy">Created by</th>
    <th nzColumnKey="name">Name</th>
    <th nzColumnKey="storage">Storage</th>
    <th style="width: 30px"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let it of tableOptions.data">
    <td>{{ it.createdBy.name }}</td>
    <td>{{ it.name }}</td>
    <td>{{ it.dataStorage.name }}</td>
    <td class="d-flex justify-content-end">
      <button
        nz-button
        nzType="text"
        nzShape="circle"
        nz-tooltip="{{'edit'|translate}}"
        nzTooltipPlacement="bottom"
        (click)="showEntry(it.id)">
        <span nz-icon nzType="edit" nzTheme="outline"></span>
      </button>

      <button
        nz-button
        nzDanger
        nzType="text"
        nzShape="circle"
        nz-tooltip="{{'remove'|translate}}"
        nzTooltipPlacement="bottom"
        (click)="remove(it.id)">
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>

