<button nz-button nzType="primary" (click)="create()">
  <span nz-icon nzType="plus" nzTheme="outline"></span>
  {{ 'new'|translate }}
</button>

<nz-table
  class="mt-3"
  [nzTotal]="tableOptions.total"
  [nzData]="tableOptions.data"
  [nzPageIndex]="tableOptions.pageIndex"
  [nzPageSize]="tableOptions.pageSize"
  [nzLoading]="tableOptions.loading"
  (nzQueryParams)="fetch($event)"
>
  <thead>
  <tr>
    <th nzColumnKey="createdBy">{{'created_by'|translate}}</th>
    <th nzColumnKey="name">{{'name'|translate}}</th>
    <th nzColumnKey="type">{{'type'|translate}}</th>
    <th nzColumnKey="status">{{'status'|translate}}</th>
    <th style="width: 100px"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let it of tableOptions.data">
    <td>{{ it.createdBy.name }}</td>
    <td>{{ it.name }}</td>
    <td>{{ it.type }}</td>
    <td>
      <nz-tag [nzColor]="statusColor[it.status]">{{ it.status }}</nz-tag>
    </td>
    <td class="d-flex justify-content-end">
      <button
        [hidden]="it.status !== StorageStatus.Pending"
        [nzLoading]="initializing"
        nz-button
        nzType="text"
        nzShape="circle"
        nz-tooltip="{{'initialize'|translate}}"
        nzTooltipPlacement="bottom"
        (click)="initialize(it.id)">
        <span nz-icon nzType="play-circle" nzTheme="outline"></span>
      </button>

      <button
        [nzLoading]="synchronizing"
        nz-button
        nzType="text"
        nzShape="circle"
        nz-tooltip="{{'synchronize'|translate}}"
        nzTooltipPlacement="bottom"
        (click)="synchronize(it.id)">
        <span nz-icon nzType="sync" nzTheme="outline"></span>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>

